<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target
		  xsi:type="File"
		  name="allfile"
		  filename="C:\Users\User\source\repos\RestaurantAPI\nlog-all-${shortdate}.log"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<targets>
		<target
		  xsi:type="File"
		  name="exceptions"
		  filename="C:\Users\User\source\repos\RestaurantAPI\nlog-all-exceptions-${shortdate}.log"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>


	<targets>
		<target
		  xsi:type="File"
		  name="requestTime"
		  filename="C:\Users\User\source\repos\RestaurantAPI\request-Time-${shortdate}.log"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>



	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="requestTime" />
	</rules>
</nlog>